{{ partial "header.html" . }}

<div class="container">
    <article class="post-container" itemscope="" itemtype="http://schema.org/BlogPosting">
        {{ partial "post-header.html" . }}
		{{ partial "adsense.html" . }}
		{{ partial "share-middle.html" . }}
        {{ partial "post-content.html" . }}
        {{ partial "post-footer.html" . }}
		{{ partial "mailchimp.html" . }}
        {{ partial "disqus.html" . }}
        {{ partial "adsense.html" . }}
    </article>
</div>

{{ partial "footer.html" . }}
