                </div>
        </div>

        <footer class="footer" style="height: 200px;">
            <div class="container">
                <div class="site-title-wrapper">
                    <a class="button-square button-jump-top js-jump-top" href="#">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>

                <p class="footer-copyright">
                    <span>&copy; {{ .Site.LastChange.Format "2006" }} Aliaksandr Pliutau. All rights reserved.</span>
                </p>
            </div>
        </footer>

        <script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>
        <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
    </body>
</html>
