                </div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="footer-copyright site-title-wrapper">
                    <span>&copy; {{ .Site.LastChange.Format "2006" }} Alex Pliutau. All rights reserved.</span>
                </p>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
		<script type="text/javascript">
			hljs.initHighlightingOnLoad();
		</script>
    </body>
</html>
