<div id="follow-icons">
    <a href="https://www.facebook.com/pltvs" rel="me"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="http://linkedin.com/in/pltvs" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="http://github.com/plutov" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="https://twitter.com/pliutau" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a>
</div>
