<div id="follow-icons">
    <a href="https://www.facebook.com/pltvs" rel="me"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="http://linkedin.com/in/pltvs" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="http://github.com/plutov" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="https://twitter.com/pliutau" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a>
</div>

<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;}
    #mc-embedded-subscribe-form{padding: 0px;}
    #mc-embedded-subscribe-form input.email{width: 100%;}
</style>
<div id="mc_embed_signup">
<form action="//pliutau.us15.list-manage.com/subscribe/post?u=48e0bc513d92114dd04b36ffa&amp;id=862c25c5fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_48e0bc513d92114dd04b36ffa_862c25c5fb" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
