{{ define "main" }}
<div
    class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}"
>
    <div class="post-content">
        {{ if .Params.thumbnail }}
        <img
            class="post-thumbnail"
            src="{{ .Params.thumbnail | relURL }}"
            alt="Thumbnail image"
        />
        {{ end }}
        <div class="post-title">
            <h1>{{ .Title }}</h1>
            {{ if or (eq .Type "post") (eq .Type .Site.Params.postSectionName)
            }}
            <div class="info">
                <span>📅</span>
                <span class="date"
                    >{{ if isset .Site.Params "singledateformat" }} {{
                    .Date.Format .Site.Params.singleDateFormat }} {{ else }}
                    {{.Date.Format "Mon, Jan 2, 2006"}} {{ end }}</span
                >
                <span>⏱️</span>
                <span class="reading-time"
                    >{{ i18n "reading_time" .ReadingTime }}</span
                >
            </div>
            {{ end }}
        </div>

        {{ .Content }} {{- if (eq .Params.contact true) -}} {{- partial
        "contact.html" . -}} {{- end -}}
		  	<h3>Feedback</h3>
				<p>
				As always, please <a href="https://x.com/pliutau">reach out to me on X</a> with questions, corrections, or ideas!
				</p>
    </div>
    <div class="post-footer">
        <div class="info">
            {{ with .Page.Params.Categories }}{{ partial
            "taxonomy/categories.html" . }}{{ end }} {{ with .Page.Params.Tags
            }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
    </div>
</div>

{{ end }}
